footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: 012B51;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  color:white;
}

footer {
    display: block;
}

.contacto {
	text-align: right;
}

.correo {
	text-align: right;
}
	
.contacto p{
	position: relative;
	left: -60px;
}
.correo a{
	position: relative;
	left: -20px;
}
	
.miniMenu {
	text-align:left;
}	

.miniMenu a {
	color:white;
	position: relative;
	left:50px;
}

.Logo{
	position: relative;
	left:50px;
}	





