.contenedor {
    display: flex;
    background-color: #00549C;
    justify-content: center;
    align-items: center; 
  }
  
.contenedor_2{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.tabla_superior{
  width: 300px;
  border-collapse: collapse;
  background-color: transparent;
}


.tabla_central{
  width: 300px;
  border-collapse: collapse;
  background-color: transparent;
}

.tabla_central td{
  padding: 10px;
  text-align: center;
  background-color: transparent;
  border: none;
  border-collapse: collapse;
}


.titulo{
    text-align: center;
    color: azure;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.text{
  text-align: justify;
  color: azure;
  border: 3px;
  padding: 15px;
  
}

.contenedor2 {
  overflow: hidden;
  background-color: #F4721C;
  justify-content: center;
}

.separ{
  align-items: center;
}
.subtituloIzq{
  font-size: 40px;
  margin-left: 100px;
}
.subti{
  text-align: center;
  color: azure;
  font-size: 40px;
}
.text-left {
  float: left;
  color: azure;
  padding-left: 200px;
  white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
}

.text-right {
  float: right;
  color: azure;
  padding-right:200px ;
  white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  
}
/*Contenedor Proyectos Sociales*/
.contenedorPS {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgb(255, 255, 255);
}

.TituloPS{
  position: absolute;
  top: 100px;
  left: 0;
  z-index: 2;
  background-color: rgb(255, 255, 255);
}

.TituloPS h2{
  font-size: 60px;
  margin-left: 100px;
  color: #012B51;
  text-shadow: 1px 1px 3px rgba(1, 41, 114, 0.5);
}

.TituloPS hr{
  height: 8px;
  width: 100px;
  border: none;
  margin-left: 100px;
  background-color: #012B51;
}

.TituloPS div{
  padding-left: 100px;
}

.TituloPS div p6{
  font-size: 23px;
  color:#00549C;
}

#tablaPS {
  border-collapse: collapse;
  margin-left: 580px;
}
#tablaPS td, th, tr {
  border: none;
}

#tablaPS .imagenPS, .textoPS {
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.2), 4px 4px 4px rgba(0, 0, 0, 0.2);
}

#tablaPS tr {
  padding: 0;
  margin: 0;
}

#tablaPS td {
  vertical-align: top;
  padding: 0;
  margin: 0;
  height: 290px;
}

#tablaPS th {
  padding: 0;
  text-align: center;
  line-height: 0;
  margin: 0;
}
#tablaPS.imagenPS img{
  display: block;
  width: 100%;
  height: auto;
}

#tablaPS .textoPS{
  background-color: rgb(255, 255, 255);
  color: black;
}

#tablaPS h5 {
  margin-top: 10px;
  margin-bottom: 5px;
  color: white;
  font-size: 22px;
  padding-left: 15px;
  width: 80%;
  background-color: #00549c;
  border-radius: 0px 40px 0px 0px;
}

#tablaPS h6{
  padding-left: 15px;
  color: #F4721C;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 10px;
}

#tablaPS .p6PS{
  padding-left: 15px;
}
/*Fin contenedor proyectos Sociales*/

.table {
  border-collapse: collapse;
}

.separ2 {
  display: flex;
  justify-content: center;
  padding-left: 100px;
  white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  background-color: #00549C;
  color: azure;
  
}
.uno{
   font-size: 18px;
   display: flex;
  justify-content: center;
  color: azure;
}

.texto {
  flex: 2;
  padding: 150px;
}
.tabla {
  flex: 2;
  padding-left: 5px;
}
.barra-gruesa {
  height: 8px;
  width: 5%;
  border: none;
  margin-left: 100px;
}

.tabla-con-bordes {
  border-collapse: collapse; 
}

.tabla-con-bordes th, .tabla-con-bordes td {
  border: 2px solid #FFF; 
}

.miniMenu_header{
	text-align:right;
	margin-right: 43px;
}	

.sobre{
	margin-right: 50px;
  color:rgb(255, 255, 255);
  text-decoration:none;
}


table {
  border-collapse: auto;
  padding-right:10px ;
  white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 30px;
}

th, td {
  border: 1px solid black;
  padding: 5px;
  justify-content: center;
  align-content: baseline;
}

td{
  background-color: azure;
  color: black;
}

h5{
  color:black;
  font-size: 22px;

}

h6{
  color: #F4721C;
  font-size: 20px;
}

